<h1 id="Содержание">Содержание</h1>

<strong><a href="#На_русском_языке">На русском языке</a></strong>
  
    <ul>
      <li><a href="#Введение">Введение</a></li>
      <li><a href="#Отношения_с_окружающими">Отношения с окружающими</a></li>
      <li><a href="#Популярные_заблуждения">Популярные заблуждения</a></li>
      <li><a href="#Беды_с_переводами">Беды с переводами</a></li>
      <li><a href="#Оптимизм_и_пессимизм">Оптимизм и пессимизм</a></li>
      <li><a href="#Мачеха-природушка">Мачеха-природушка</a></li>
      <li><a href="#Совершенствование_человека">Совершенствование человека</a></li>
      <li><a href="#Искусственный_интеллект">Искусственный интеллект</a></li>
      <li><a href="#Пронатализм_и_пролайф">Пронатализм и пролайф</a></li>
      <li><a href="#Демография">Демография</a></li>
      <li><a href="#Юмор">Юмор</a></li>
      <li><a href="#Прилично_переведенные_отрывки">Прилично переведенные отрывки</a></li>
      <li><a href="#Разное">Разное</a></li>
    </ul>

<strong><a href="#На_английском_языке">На английском языке</a></strong>

    <ul>
      <li><a href="#Книги">Книги</a></li>
      <li><a href="#Статьи">Статьи</a></li>
    </ul>

<hr>

<h1 id="На_русском_языке">На русском языке</h1>

<h2 id="Введение">Введение</h2>
<ol>
  <li><a href="../adekvat/luchshe-ne-rozhdatsya-vred-nachala-suschestvovaniya.html">«Лучше не рождаться: вред начала существования», Введение; Глава 1, часть 1</a> (Дэвид Бенатар)</li>
  <li><a href="../adekvat/antinatalizm-chto-ty-takoe-antinatalisty-chego-vy-hotite.html">Антинатализм, что ты такое? Антинаталисты, чего вы хотите?</a></li>
  <li><a href="https://reducingsuffering.github.io/158.html">О российских антинаталистах</a> (интервью MK.RU)</li>
  <li><a href="../eto/538.html">Это база: что такое уменьшение страданий</a></li>
</ol>

<h2 id="Отношения_с_окружающими">Отношения с окружающими</h2>
<ol>
  <li><a href="../adekvat/obeschannoe-o-zhestkom-antinatalizme-i-okruzhauschih-pronata.html">Обещанное о жестком антинатализме и окружающих пронаталистах</a></li>
  <li><a href="../eto/214.html">Важность доброжелательного отношения к окружающим</a> (Брайан Томасик)</li>
  <li><a href="../adekvat/46.html">Актуальный список используемых терминов</a></li>
  <li><a href="../adekvat/59.html">Антинатализм и этические чайлдфри</a></li>
  <li><a href="../adekvat/52.html">Чисто для ясности</a></li>
  <li><a href="../adekvat/vazhno-ugroza-bezopasnosti-prochitaite-i-rasprostranite.html">Важно! Прочитайте и распространите!</a></li>
  <li><a href="../zhizn/743.html">Антинаталистский каминг-аут</a></li>
  <li><a href="../adekvat/876.html">Парадокс толерантности</a></li>
  <li><a href="../zhizn/101.html">Антинатализм и “антиэкстремизм”</a></li>
  <li><a href="../zhenshina/270.html">«Дурак», 2014 г.</a></li>
</ol>

<h2 id="Популярные_заблуждения">Популярные заблуждения</h2>
<ol>
  <li><a href="../adekvat/113.html">Миф №n. “Антинаталисты навязывают нам свою волю!”</a></li>
  <li><a href="../adekvat/142.html">Миф №n+1. “Антинатализм — это западные воззрения”</a></li>
  <li><a href="../adekvat/420.html">Миф №n+2. “Антинатализм — это аморализм”</a></li>
  <li><a href="../adekvat/443.html">Миф №n+3. “Антинатализм — это утилитаризм”</a></li>
  <li><a href="../adekvat/830.html">Миф №n+4: “Уменьшение страдания — это антинаталистский аргумент”</a></li>
  <li><a href="../adekvat/188.html">Коротко о главном: ФЭА vs VHEMT</a></li>
  <li><a href="../adekvat/55.html">Антинатализм в философско-этическом и в экологическом смыслах</a></li>
  <li><a href="../adekvat/893.html">Об иллюзии, будто антинатализм относится не ко всей сентиентности, а только лишь к человеку</a> (Дэвид Бенатар)</li>
  <li><a href="../adekvat/947.html">Что, если бы жизнь содержала только хорошее и ничего плохого?</a> (Дэвид Бенатар)</li>
  <li><a href="../adekvat/820.html">Ключевое недопонимание асимметрии Бенатара</a></li>
  <li><a href="../adekvat/840.html">Рождение (и смерть) в обыденном понимании vs. рождение в антинатализме</a></li>
  <li><a href="../adekvat/859.html">Жизни, которые стоит начинать, и жизни, которые стоит продолжать</a> (Дэвид Бенатар)</li>
  <li><a href="../adekvat/925.html">Изначальное несуществование vs. Рождение+смерть</a> (Дэвид Бенатар)</li>
  <li><a href="../adekvat/613.html">Смерть — это не избавление</a> (Дэвид Бенатар)</li>
  <li><a href="../eto/130.html">Неразмножение vs смерть</a> (Дэвид Бенатар)</li>
  <li><a href="../eto/146.html">О «Настоящем детективе»</a> (Дэвид Бенатар)</li>
</ol>

<h2 id="Беды_с_переводами">Беды с переводами</h2>
<ol>
  <li><a href="../adekvat/437.html">Предостережение</a></li>
  <li><a href="../zhenshina/347.html">Попсовый “антинатализм” как трагедия самоуверенной некомпетентности</a></li>
  <li><a href="../zhenshina/525.html">Верный перевод названия труда Бенатара: наглядно</a></li>
  <li><a href="../adekvat/929.html">К вопросу о том, почему нельзя переводить Бенатара как Бог на душу положит</a></li>
  <li><a href="../adekvat/915.html">Книги, фиги и последствия</a></li>
  <li><a href="../adekvat/478.html">Менее свежая, но еще более вопиющая манифестация проблемы</a></li>
  <li><a href="../adekvat/33.html">Про перевод “Better Never to Have Been”, собственно</a></li>
  <li><a href="../adekvat/66.html">Маленькие, но небезынтересные детальки</a></li>
</ol>

<h2 id="Оптимизм_и_пессимизм">Оптимизм и пессимизм</h2>
<ol>
  <li><a href="../adekvat/99.html">Страдание</a></li>
  <li><a href="../adekvat/101.html">Натуральное мироустройство</a></li>
  <li><a href="../adekvat/94.html">Добродетельность ношения розовых очков</a> </li>
  <li><a href="../adekvat/93.html">Ещё раз к вопросу о значении антинатализма</a></li>
  <li><a href="../adekvat/367.html">Почему удовольствие — хреновая штука</a> (Адам Коновер, 2019)</li>
  <li><a href="../eto/191.html">“Рожай детей, кому не понравится — могут убиться!”: Исключительно бесчувственный совет</a> (Брайан Томасик)</li>
  <li><a href="../zhenshina/368.html">Оружие и деторождение</a></li>
</ol>

<h2 id="Мачеха-природушка">Мачеха-природушка</h2>
<ol>
  <li><a href="../adekvat/722.html">Река, текущая из рая</a> (Ричард Докинз)</li>
  <li><a href="https://vk.com/wall187756_350754">Размножение как смысл жизни. В чём я не согласен со Станиславом Дробышевским</a> (Александр Панчин)</li>
  <li><a href="../adekvat/764.html">«Природа, обернувшаяся адом, свои дела вершила без затей»</a> (Николай Заболоцкий)</li>
  <li><a href="../adekvat/570.html">«Вся земля, поверь мне, Филон, проклята и осквернена»</a> (Дэвид Юм)</li>
  <li><a href="../adekvat/150.html">(Не)очевидность естественного адища</a></li>
</ol>

<h2 id="Совершенствование_человека">Совершенствование человека</h2>
<ol>
  <li><a href="../zhizn/755.html">Человечество и антинатализм</a></li>
  <li><a href="../adekvat/596.html">Минутка бэкграунд-инфы: антинатализм и пронатализм в трансгуманистическом движении</a> (Дэвид Пирс и Ник Бостром)</li>
  <li><a href="../adekvat/947.html">Что, если бы жизнь содержала только хорошее и ничего плохого?</a> (Дэвид Бенатар)</li>
</ol>

<h2 id="Искусственный_интеллект">Искусственный интеллект</h2>
<ol>
  <li><a href="../adekvat/472.html">Но следует ли делать то, что мы сделать можем?</a> (Томас Метцингер)</li>
  <li><a href="../zhenshina/441.html">Сентиентность, гуманизм и роботы</a></li>
</ol>

<h2 id="Пронатализм_и_пролайф">Пронатализм и пролайф</h2>
<ol>
  <li><a href="../zhenshina/516.html">“Отрицание семейных ценностей”</a> (2022)</li>
  <li><a href="../zhenshina/449.html">«Откуда мы через 20 лет возьмем солдат?»</a> (Елена Шабалина, 2022)</li>
  <li><a href="../zhenshina/286.html">Меньше знаешь — больше рожаешь!</a> (Митрополит Рязанский Марк, 2022)</li>
  <li><a href="../zhenshina/264.html">Повелитель наступает на гражданские свободы, а его верный пропагандист все моет гражданам мозги</a> (Сергей Худиев, 2022)</li>
  <li><a href="../zhenshina/251.html">«Отрицание идеалов продолжения рода»</a> (2022)</li>
  <li><a href="../adekvat/602.html">Новый злобно-невежественный пасквиль</a> (Андрей Творогов, 2021)</li>
  <li><a href="../adekvat/497.html">Гидра снова атакует!</a> (РИА КАТЮША, 2021)</li>
  <li><a href="../adekvat/531.html">Мечты сбываются! Мечты тех, кто жаждет диктатуры…</a> (2021)</li>
  <li><a href="../zhenshina/184.html">«Ещё до окончания великой отечественной войны началась новая война — демографическая»</a> (Инга Юмашева, 2021)</li>
  <li><a href="../zhenshina/205.html">«Блокировать, зачищать, понижать в рейтингах, убирать с платформ»</a> (2021)</li>
  <li><a href="../zhenshina/207.html">Еще о притеснении “антисемейных идей”</a> (Инга Юмашева, 2021)</li>
  <li><a href="../zhenshina/121.html">Статья хорошая, ситуация страшная — и с переводом, и с комментариями</a> (Ричард Чеппелл, 2021)</li>
  <li><a href="../zhenshina/129.html">Белое — это черное!</a> (Ирина Силуянова, 2021)</li>
  <li><a href="../zhenshina/111.html">Вы не киски, вы террористки!</a> (Игорь Белобородов, 2021)</li>
  <li><a href="../zhenshina/114.html">“Демографическая безопасность</a>” (2021)</li>
  <li><a href="../zhenshina/357.html">«Женщина=ее матка»</a> (Александра Машкова-Благих, 2021)</li>
  <li><a href="../zhenshina/101.html">«Их, конечно, надо признавать хотя бы экстремизмом…»</a> (Андрей Цыганов, 2021)</li>
  <li><a href="../adekvat/888.html">Антинатализм и церберы православного шариата</a> (Пол Якобсон, 2021)</li>
  <li><a href="../adekvat/362.html">+1 пробитое днище</a> (Мария Медведева, 2020)</li>
  <li><a href="../adekvat/381.html">Яжматерь против гуманизма</a>: налог на бездетность (Татьяна Буцкая, 2020)</li>
  <li><a href="../adekvat/231.html">Воители священной войны не сдаются</a> (Султан Хамзаев, 2020)</li>
  <li><a href="../adekvat/162.html">Дамы — жесть</a> (2019)</li>
  <li><a href="../adekvat/852.html">Антинаталистам, этическим чайлдфри и всем прочим</a> (Helward Mann)</li>
  <li><a href="../adekvat/699.html">Слезинка ребенка, говорите?..</a></li>
  <li><a href="../adekvat/780.html">Гроб гроб кладбище человечество вымирает, или не стародедовское ретроградство, а «новая школа»!</a> (2019)</li>
  <li><a href="../adekvat/782.html">Гроб гроб кладбище человечество вымирает-2, или кто виноват? — да мы!</a> (2019)</li>
  <li><a href="../adekvat/768.html">Изнасиловали? Рожай!</a> (2019)</li>
  <li><a href="../adekvat/334.html">Развелось пустоцветов!</a> (Александр Кислов, 2015)</li>
  <li><a href="../adekvat/393.html">Анти-антинаталисты и что они творят</a></li>
  <li><a href="../adekvat/123.html">Когда воспрепятствования абортам уже недостаточно</a> (Анна Кузнецова, 2019)</li>
  <li><a href="../adekvat/158.html">Да что вы знаете о защите женщин?!</a> (Наталья Москвитина, 2019)</li>
  <li><a href="../adekvat/70.html">“Родозабастовщики”</a> (2019)</li>
  <li><a href="../zhizn/167.html">Все известные на данный момент вариации этого дер*ма</a></li>
  <li><a href="../zhenshina/369.html">Как полоскали мозги поколению наших родителей</a></li>
</ol>

<h2 id="Демография">Демография</h2>
<ol>
  <li><a href="../adekvat/790.html">Прирост численности vs. реализация человеческого потенциала</a></li>
  <li><a href="../adekvat/774.html">Рождаемость и эффективность пропаганды</a> (Элла Россман)</li>
  <li><a href="../adekvat/678.html">Зачем повышают рождаемость?</a> (Сергей Захаров)</li>
  <li><a href="../adekvat/695.html">Контракт на производство детей</a></li>
  <li><a href="../adekvat/71.html">Перспектива вымирания и реализация человеческого потенциала</a></li>
  <li><a href="../adekvat/178.html">“Рассказ служанки” — антиутопия или реальность будущего? Демография глазами ученых</a> (Кирилл Мартынов)</li>
  <li><a href="../adekvat/785.html">Чем многодетные семьи не угодили эволюции</a> (Алексей Алексенко, 2019)</li>
</ol>

<h2 id="Юмор">Юмор</h2>
<ol>
  <li><a href="../heytery/">Анти-антинатализм и жизнь</a></li>
  <li><a href="../adekvat/463.html">Месть нерожденных</a> (забавная попытка пролайф-пропаганды)</li>
</ol>

<h2 id="Прилично_переведенные_отрывки">Прилично переведенные отрывки</h2>
<ol>
  <li><a href="../adekvat/luchshe-ne-rozhdatsya-vred-nachala-suschestvovaniya.html">«Лучше не рождаться: вред начала существования», Введение; Глава 1, часть 1</a> (Дэвид Бенатар)</li>
  <li><a href="../adekvat/luchshe-ne-rozhdatsya-vred-nachala-suschestvovaniya-glava-1.html">«Лучше не рождаться: вред начала существования», Глава 1, Часть 2</a> (Дэвид Бенатар)</li>
  <li><a href="../adekvat/925.html">Изначальное несуществование vs. Рождение+смерть</a> (Дэвид Бенатар)</li>
  <li><a href="../adekvat/893.html">Об иллюзии, будто антинатализм относится не ко всей сентиентности, а только лишь к человеку</a> (Дэвид Бенатар)</li>
  <li><a href="../eto/214.html">Важность доброжелательного отношения к окружающим</a> (Брайан Томасик)</li>
  <li><a href="../eto/191.html">“Рожай детей, кому не понравится — могут убиться!”: Исключительно бесчувственный совет</a> (Брайан Томасик)</li>
  <li><a href="../adekvat/947.html">Что, если бы жизнь содержала только хорошее и ничего плохого?</a> (Дэвид Бенатар)</li>
  <li><a href="../adekvat/613.html">Смерть — это не избавление</a> (Дэвид Бенатар)</li>
  <li><a href="../eto/130.html">Неразмножение vs смерть</a> (Дэвид Бенатар)</li>
  <li><a href="../eto/146.html">О «Настоящем детективе»</a> (Дэвид Бенатар)</li>
</ol>

<h2 id="Разное">Разное</h2>
<ol>
  <li><a href="../adekvat/901.html">Репродуктивная этика vs репродуктивные домогательства</a> (Ричард Чеппелл, 2015)</li>
  <li><a href="../zhenshina/219.html">Моральный прогресс</a> (Роберт Уиблин и Уилл МакАскилл)</li>
  <li><a href="../adekvat/825.html">«О вещах действительно важных» — «Почему мы не спешим стать последним поколением?»</a> (Питер Сингер, 2010)</li>
  <li><a href="../adekvat/428.html">Об утилитаризме предпочтений</a> (Питер Сингер)</li>
  <li><a href="../adekvat/266.html">Уходящие из Омеласа</a> (Урсула Ле Гуин, 1973)</li>
  <li><a href="../adekvat/458.html">Даже великий религиозный философ против!</a> (Николай Бердяев)</li>
  <li><a href="../adekvat/454.html">Пронатализм и жизнь</a> (Андрей Платонов)</li>
  <li><a href="../adekvat/298.html">Истинный смысл цитаты о слезинке ребенка</a> (Федор Достоевский)</li>
  <li><a href="../adekvat/795.html">Чайлдфри против «Яжемать»: как общество осуждает первых и поддерживает вторых</a> (Psychologies)</li>
  <li><a href="../adekvat/706.html">Удивительно адекватная статья об антинатализме — на ресурсе для (будущих) родителей</a> (Нет, это нормально, 2021)</li>
  <li><a href="../adekvat/259.html">Маленькая, но миленькая свежая статья</a> (Анна Бондаренко, 2020)</li>
  <li><a href="../adekvat/222.html">Водонаева-гейт. Часть I. О том, что сказала сама Алена</a> (2020)</li>
  <li><a href="../adekvat/vodonaeva-geit-chast-ii-razberem-po-chastyam-s-hudievym-napi.html">Водонаева-гейт. Часть II. Разберем по частям С. Худиевым написанное</a> (2020)</li>
  <li><a href="../adekvat/193.html">«В России крепок тренд на романтизацию деторождения»</a> (Анастасия Миронова, 2019)</li>
  <li><a href="../adekvat/65.html">Немного непонятно, что происходит</a> (Алексис Папазоглу, 2019)</li>
</ol>

<h1 id="На_английском_языке">На английском языке</h1>
<h2 id="Книги">Книги</h2>
<ol>
  <li><a href="https://www.docdroid.net/pPhmtci/david-benatar-better-never-to-have-been-pdf">Better never to have been: The harm of coming into existence</a> (David Benatar, 2006)</li>
  <li><a href="https://magnusvinding.com/2020/05/31/suffering-focused-ethics-defense-and-implications/">Suffering-Focused Ethics: Defense and Implications</a> (Magnus Vinding, 2020)</li>
  <li><a href="../adekvat/236.html">Нет деток — нет слёз: христианский антинатализм</a>  (Martin Smith, 2013)</li>
</ol>

<h2 id="Статьи">Статьи</h2>
<ol>
  <li><a href="https://reducing-suffering.org/strategic-considerations-moral-antinatalists/">Strategic Considerations for Moral Antinatalists</a> (Brian Tomasik, 2014)</li>
  <li><a href="https://longtermrisk.org/gains-from-trade-through-compromise/">Gains from Trade through Compromise</a> (Brian Tomasik, 2013)</li>
  <li><a href="https://longtermrisk.org/reasons-to-be-nice-to-other-value-systems/">Reasons to Be Nice to Other Value Systems</a> (Brian Tomasik, 2014)</li>
  <li><a href="https://forum.effectivealtruism.org/s/MBadsrYLmzLNmYjaj">Minimalist Axiologies</a> (Teo Ajantaival, 2021-2022)</li>
  <li><a href="https://archive.org/details/thespeciesismofleavingnaturealoneandthetheoreticalcaseforwildlifeantinatalism/mode/2up">The Speciesism Of Leaving Nature Alone, And The Theoretical Case For “Wildlife Anti Natalism”</a> (Magnus Vinding, 2016)</li>
  <li><a href="https://magnusvinding.com/2017/12/01/suffering-infinity-and-universe-anti-natalism/">Suffering, Infinity, and Universe Anti-Natalism</a> (Magnus Vinding, 2017)</li>
</ol>
